*{
  padding: 0;
  margin: 0;
}
header {
  padding-top: 50px;
  background-color: #eeeeee;
}
.header-container {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100% ;
  max-width: 1200px;
  margin: 0 auto;
}
.navigation {
}
.chip1 {
  display: inline-block;
  margin-right: 10px;
}
ul {
  list-style: none;
  display: flex;
  align-content: center ;
}
li {
  margin: 0px 40px;
}
a {
  text-decoration: none;
  color: black;
}
.rich {
  font-size: 40px;
}
.introduction{
  max-width: 1200px;
  margin: 56px auto;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  height: 413px;
}
.math {
  margin: 50px auto;
}
.more{
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fb565a ;
  text-align: center;
  max-width: 240px;
  max-height:53px;
  padding: 20px ;
  width: 50%;
}
.phones{
  height: 100%;
}
.info{
  color: #eeeeee;
}
main {
  padding: 80px;
  max-width: 1200px;
  margin: 0 auto;
}
.banner {
  opacity: 0;
}
.order {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  max-width: 160px;
  max-height:53px;
  padding: 20px ;
  margin-top: 41px;
}
.order-color1 {
  background-color: #fb565a ;
}
.order-color2 {
  background-color: #00ca74 ;
}
.order-color3 {
  background-color: #efc84a ;
}
.text-link{
  font-size: 24px;
  text-transform: uppercase;
}
.description {
  margin: 31px auto;
}
.illustrations{
  margin-bottom: 32px;
}
