*{padding: 0;
margin: 0;]
}
header {
  padding: 50px 0px;
}
.flex{
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;

}
.container{
  width: 100% ;
  max-width: 1200px;
  margin: 0 auto;
}
.navigation {

}
.chip1{
  padding: 20px 0px;
}

ul{
  list-style: none;
display: flex;
  align-content: center ;
  padding: 20px 0px;
}
li{
  margin: 0px 40px;
}
a {
  text-decoration: none;
  color: black;
}
.rich {
font-size: 40px;
}
